@import "./variables.scss";
header {
  .banner {
    overflow-x: hidden;
    .banner-img {
      background-image: url(../img/projects-banner.jpg);
      background-repeat: no-repeat;
      background-position: 50% 10%;
      height: 250px;
    }
    .overlay {
      position: absolute;
      background-color: rgba(65, 155, 155, 0.5);
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      display: flex !important;
      justify-content: center;
      align-items: center;
      h1 {
        font-weight: bold;
        color: white;
      }
    }
  }
}
main {
  .our-works {
    padding: 100px 0px 50px 0px;
    .custom-btn-2 {
      border: none;
      border-radius: 1px;
      font-weight: bold;
      position: absolute;
      right: 25px;
      top: 20px;
      transition: all 0.8s ease;
      &:hover,
      &:focus {
        color: $custom-color;
        background-color: $main-color;
        border: none;
      }
    }
  }
}
.btn {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

button {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}
.project-details {
  .card {
    .card-body {
      .card-title {
        font-weight: 800;
        color: $main-color;
      }
      .card-text {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 576px) {
  .project-details {
    .thumb {
      margin-left: 15px;
      margin-right: 15px;
    }
    .card-text {
      font-size: 15px;
    }
  }
}
