@import "./projects.scss";
@import "./variables.scss";
@import "./blog.scss";
@import "./about.scss";
@import "./contact.scss";
* {
  font-family: "Cairo", sans-serif;
}
.top-menu {
  .navbar {
    font-weight: bold;
    padding: 0px 100px !important;
    background-color: #fff !important;
  }
  .navbar-nav {
    a.active {
      color: $main-color !important;
      border-bottom: 1px solid $main-color;
    }
    li > a {
      &:hover {
        color: $main-color !important;
        background-color: $custom-color;
        border-bottom: 1px solid $main-color;
      }
      transition: all 0.5s linear;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.header {
  .carousel-top {
    .carousel {
      .carousel-item {
        img {
          height: 450px;
        }
        .overlay {
          position: absolute;
          background-color: rgba(65, 155, 155, 0.5);
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: flex !important;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          z-index: 1;
        }
      }
      .carousel-indicators {
        li {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin: 20px 5px 20px 0px;
          border: 0;
          &.active {
            background-color: $main-color;
          }
        }
      }
      .carousel-caption {
        h1 {
          font-weight: bold;
          color: white;
          margin-bottom: 50px;
        }
        h4 {
          width: 60%;
          color: $custom-color;
        }
      }
    }
  }
  .about {
    padding: 80px 0;
    h1 {
      margin-bottom: 15px;
      font-size: 35px;
    }
    p {
      font-size: 20px;
      line-height: 35px;
      span {
        color: $main-color;
      }
    }
  }
}
.main {
  .latest-projects {
    width: 100%;
    padding: 50px 100px 50px 100px;
    background-color: #ffffcc;

    #project-slider {
      .thumbnail {
        position: relative;
        margin-bottom: 20px;
        margin-top: 20px;
        .caption {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(65, 155, 155, 0.5);
          max-width: 100%;
          height: 100%;
          text-align: center;
          padding: 2%;
          color: #fff;
          display: none;
        }
        .project-category {
          position: absolute;
          right: 0;
          top: 5%;
          font-weight: bold;
          background-color: $custom-color;
          padding: 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          box-shadow: 0px 5px 20px 0px #202020;
        }
      }
    }
    button.carousel-control-next {
      position: absolute;
      left: -5%;
      color: #252222;
      width: 0;
    }
    button.carousel-control-prev {
      position: absolute;
      right: -5%;
      color: #252222;
      width: 0;
    }
  }
  .said {
    padding: 50px 0px;
    .said-img {
      img {
        border-radius: 10px;
        margin: 15px;
      }
    }
    button.carousel-control-prev {
      position: absolute;
      width: 0;
      right: 20%;
    }
    button.carousel-control-next {
      position: absolute;
      width: 0;
      left: 20%;
    }
  }
  .clients {
    padding: 50px 0px 100px 0px;
    background-color: #41989b;
    h2 {
      margin-bottom: 50px;
      color: $custom-color;
    }
  }
  .blog {
    .card-body {
      width: 90%;
      border: 1px solid #cccccc;
      border-radius: 5px;
      position: relative;
      background-color: white;
      top: -17px;
      left: -5%;
      h5 {
        font-weight: bold;
      }
    }
  }
}
footer {
  overflow-x: hidden;
  padding: 80px 0px;
  background-color: #393939;
  .footer-title {
    color: $custom-color;
  }
  .line1 {
    width: 5%;
    border-top: 3px solid $custom-color;
  }
  .list-inline {
    .list-inline-item {
      a {
        color: #cccccc;
        text-decoration: none;
      }
    }
  }
  .line2 {
    width: 80%;
    border-top: 3px solid $custom-color;
  }
  .copyright {
    p {
      transform: translateY(80%);
      color: #cccccc;
      span {
        color: $main-color;
      }
    }
  }
}

.custom-btn {
  background-color: $custom-color;
  color: $main-color;
  border: 1px solid $main-color;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px 20px;
  transition: all 0.5s ease;
  &:hover {
    background-color: $main-color;
    color: $custom-color;
  }
}
.custom-btn1 {
  background-color: $main-color;
  color: $custom-color;
  border: 1px solid $main-color;
  font-weight: bold;
  margin: 15px 0;
  padding: 15px 30px;
  transition: all 0.5s ease;
  &:hover {
    background-color: $custom-color;
    color: $main-color;
  }
}

@media (max-width: 991px) {
  .top-menu {
    .navbar {
      padding: 0px 20px !important;
    }
    .navbar-nav {
      li > a {
        border-bottom: 0 !important;
        padding-right: 5px;
      }
    }
  }
}
@media (max-width: 767px) {
  .carousel-top {
    .carousel {
      .carousel-caption {
        h1 {
          font-size: 30px;
        }
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}
